#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.appHeader {
  user-select: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.appHeaderBar {
  height: 44px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.appHeaderTabs {
  flex: 1;
  display: flex;
  justify-content: center;
}

.appHeaderTabs .ant-tabs-nav {
  margin: 0;
}

.appHeaderTabs .ant-tabs-content-holder {
  display: none;
}

.appHeaderActions {
  display: flex;
  align-items: center;
}

.appTitle {
  font-weight: 700;
}

.appSubtitle {
  opacity: 0.7;
  font-size: 12px;
}

.appMain {
  flex: 1;
  overflow: auto;
  padding: 12px;
}
